extends ./layout/index

block slider 
    .slider
        h1 Rio de Janeiro 
        em aventura

block contenido 
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta leo quam, sit amet volutpat nisl placerat id. Donec finibus metus id metus malesuada finibus. Vestibulum varius eros sit amet leo cursus mattis. Curabitur molestie, lorem vitae facilisis bibendum, mi purus auctor leo, non feugiat nisi massa in sapien. 
                p Nullam sollicitudin vitae lacus in aliquet. Phasellus a sem volutpat tellus ultricies commodo ut nec mi. Curabitur orci justo, iaculis in tristique quis, dapibus sit amet lorem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse efficitur ante eu enim maximus tristique. Fusce auctor tempus varius. Maecenas egestas consequat metus eu aliquet.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros" class= "img-fluid")
        include ./layout/bloque_viajes
    .descuento 
        .container
            .row 
                .col-md-6 
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2024 - 28 de Marzo de 2024
                        p.precio $ 2500
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales